<!-- <h1 style="color: white;">Movie : {{data.title}}</h1> -->

<!-- <iframe width="560" height="315" [src]="getSanitizedURL()" frameborder="0" allowfullscreen=""></iframe> -->
<section class="container">
    <div class="tv-content">
        <div class="video_player">
            <iframe  width="80rem"  [src]="getSanitizedURL()" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="video_data">
            <h1 style="color: white;">{{data.title}}</h1>
            <p style="color: white;">{{data.desc}}</p>
                <h3>{{data.rate}}/20</h3>
        </div>

      


    </div>
    
</section>